---
metadata:
  id: 1
  name: Main Header
  file_type: header
  last_edit: 1643129556717
---
<section class="pb-5">
	<nav class="navbar navbar-expand-lg navbar-light py-4">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img class="img-fluid" src="{{ 'modules/module_76/bootstrap5-plain-assets/logos/plainb-logo.svg' | asset_url }}" alt="" width="96px">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header01" aria-controls="header01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="header01">
				<ul class="navbar-nav ms-auto mt-3 mt-lg-0 mb-3 mb-lg-0 me-4">
					<li class="nav-item me-4"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item me-4"><a class="nav-link" href="/portfolio">Portfolio</a></li>
					<li class="nav-item me-4"><a class="nav-link" href="/pricing">Pricing</a></li>
					<li class="nav-item me-4"><a class="nav-link" href="/testimonial">Testimonials</a></li>
					<li class="nav-item me-4"><a class="nav-link" href="/faq">FAQs</a></li>
					<li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
				</ul>
				<div><a class="btn btn-primary" href="/contact">Contact Us</a></div>
			</div>
		</div>
	</nav>
</section>