---
layout: modules/module_76/templates/1
max_deep_level: 1
metadata:
  name: Elements
  enabled: true
  file_type: page
  last_edit:
searchable: true
slug: elements
---
{% include 'modules/siteglide_system/constants' -%}
<div class="position-fixed bottom-0 start-0 mb-4" style="z-index: 50;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="p-5 bg-light rounded">
          <div class="d-flex flex-wrap align-items-center">
            <div>
              <h4 class="fw-bold">Cookie Policy</h4>
              <p class="text-muted">We use cookies to personalise content, to provide social media features and to analyse our traffic.</p>
            </div>
            <div class="d-flex"><a class="btn btn-primary me-2" href="#">Allow</a><a class="btn btn-outline-danger" href="#">Decline</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-lg-8 mx-auto">
        <img class="img-fluid rounded" src="{{'modules/module_76/bootstrap5-plain-assets/images/blue-400-horizontal.png' | asset_url}}" alt="">
      </div>
    </div>
    <div class="text-center">
      <span class="text-muted">Error 404</span>
      <h2 class="display-5 fw-bold mt-2 mb-3">Page not found</h2>
      <p class="lead text-muted mb-5">Sorry! We are unable to find the page you are looking for</p>
      <div class="d-flex flex-wrap justify-content-center">
        <a class="btn btn-primary me-2 mb-2 mb-sm-0" href="/">Go back to Homepage</a>
        <a class="btn btn-outline-secondary mb-2 mb-sm-0" href="#">Try Again</a>
      </div>
    </div>
  </div>
</section>