---
layout: modules/module_76/templates/1
max_deep_level: 1
metadata:
  name: FAQ
  enabled: true
  file_type: page
  last_edit: 1641306657814
redirect_to: ''
redirect_url: ''
searchable: true
slug: faq
---
{% include 'modules/siteglide_system/constants' -%}
<section class="py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-lg-8 col-xxl-7 text-center mx-auto mb-4">
        <span class="text-muted">Lorem ipsum</span>
        <h2 class="display-5 fw-bold mt-2 mb-3">FAQ</h2>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
      </div>
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item"><a class="nav-link active" href="#">General</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Payments</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Returns</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Refunds</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 mx-auto">
        <div class="accordion accordion-flush" id="faq01">
          <div class="accordion-item">
            <h2 class="accordion-header" id="faq01-header1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq01-answer1" aria-expanded="false" aria-controls="faq01-answer1">Fusce eget nunc et libero accumsan rutrum quis nec lectus?</button>
            </h2>
            <div class="accordion-collapse collapse show" id="faq01-answer1" aria-labelledby="faq01-header1" data-bs-parent="#faq01">
              <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod orci sed tristique placerat. Fusce in ligula urna. Fusce eget nunc et libero accumsan rutrum quis nec lectus. Quisque luctus sem nibh, quis ornare neque consectetur varius. Maecenas rhoncus consectetur rutrum.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq01-answer2" aria-expanded="false" aria-controls="faq01-answer2">Fusce eget nunc et libero accumsan rutrum quis nec lectus?</button>
            </h2>
            <div class="accordion-collapse collapse" id="faq01-answer2" aria-labelledby="faq01-header2" data-bs-parent="#faq01">
              <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod orci sed tristique placerat. Fusce in ligula urna. Fusce eget nunc et libero accumsan rutrum quis nec lectus. Quisque luctus sem nibh, quis ornare neque consectetur varius. Maecenas rhoncus consectetur rutrum.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq01-answer3" aria-expanded="false" aria-controls="faq01-answer3">Fusce eget nunc et libero accumsan rutrum quis nec lectus?</button>
            </h2>
            <div class="accordion-collapse collapse" id="faq01-answer3" aria-labelledby="faq01-header3" data-bs-parent="#faq01">
              <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod orci sed tristique placerat. Fusce in ligula urna. Fusce eget nunc et libero accumsan rutrum quis nec lectus. Quisque luctus sem nibh, quis ornare neque consectetur varius. Maecenas rhoncus consectetur rutrum.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq01-answer4" aria-expanded="false" aria-controls="faq01-answer4">Fusce eget nunc et libero accumsan rutrum quis nec lectus?</button>
            </h2>
            <div class="accordion-collapse collapse" id="ffaq01-answer4" aria-labelledby="faq01-header4" data-bs-parent="#faq01">
              <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod orci sed tristique placerat. Fusce in ligula urna. Fusce eget nunc et libero accumsan rutrum quis nec lectus. Quisque luctus sem nibh, quis ornare neque consectetur varius. Maecenas rhoncus consectetur rutrum.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq01-answer5" aria-expanded="false" aria-controls="faq01-answer5">Fusce eget nunc et libero accumsan rutrum quis nec lectus?</button>
            </h2>
            <div class="accordion-collapse collapse" id="faq01-answer5" aria-labelledby="faq01-header5" data-bs-parent="#faq01">
              <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod orci sed tristique placerat. Fusce in ligula urna. Fusce eget nunc et libero accumsan rutrum quis nec lectus. Quisque luctus sem nibh, quis ornare neque consectetur varius. Maecenas rhoncus consectetur rutrum.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>